html, body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	background-color: #f5f5f5;
	min-width: 960px;
}

h2 {
	margin: 62px 0 28px;
	font-size: 21px;
	font-weight: normal;
}

textarea {
	width: 370px;
	padding: 9px;
	resize: none;
	outline: none;
	background-color: #fcfcfc;
	font-size: 16px;
	display: block
}

input[type=button] {
	width: 224px;
	height: 55px;
	padding: 0;
	font-size: 16px;
	background-color: #8993ad;
	color: white;
	border: 0;
}

.fixed-container {
	margin: 0 auto;
	width: 960px;
}

#left-column {
	width: 470px;
	float: left;
}

	#empty-task-list {
		padding-top: 46px;
		font-size: 16px;
		color: #8993ad;
		display: none;
	}

	/* Показываем empty-task-list если task-list пустой */
	#task-list:empty + #empty-task-list {
		display: block;
	}

	.todo-task {
		margin-bottom: 20px;
		position: relative;
		background-color: white;
	}

		.task-header {
			padding: 15px 20px;
			font-size: 16px;
			display: inline-block;
		}

		.task-description {
			padding: 10px 20px; 
			min-height: 65px;
			font-size: 14px;
			color: #8993ad;
			border-top: 1px solid #f5f5f5;
		}

		.task-delete {
			width: 9px;
			height: 9px;
			background-image: url(delete.png);
			display: inline-block;
		}

		.task-collapse {
			width: 6px;
			height: 5px;
			margin: 22px 20px;
			background-image: url(collapse.png);
			display: inline-block;
			float: right;
		}

#right-column {
	width: 470px;
	float: right;
}

	#task-form {
		padding: 2px 40px 36px;
		background-color: white;
	}

		#task-form div {
			padding-top: 25px;
			padding-bottom: 10px;
			font-size: 14px;
			color: #8993ad;
		}

		#add-task-head {
			height: 25px;
			border-color: #ebebeb;
		}

		#add-task-desc {
			margin-bottom: 30px;
			height: 210px;
			border-color: #f6f6f6;
		}